#friendUsernameCodeInfo {
    margin-top: 65px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 5px;
}
#friendFormBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 22px;
}
#addAFriendByUsername {
    width: 130px;
    margin: 0px;
    margin-left: 18px;
    
}
#friendIdForm {
    margin-top: 20px;
}
#friendUsernameForm, #friendIdForm {
    text-align: center;
    width: 100%;
}
#friendUsernameForm > input, #friendIdForm > input {
    outline: none;
    border: none;
    margin-left: 8px;
    padding-left: 5px;
    border-bottom: 1px solid black;
}
#friendUsernameForm > input:focus, #friendIdForm > input:focus {
    border-bottom: 2px solid rgb(55, 133, 223);
}
#friendUsernameForm > button, #friendIdForm > button {
    border: none;
    background-color: white;
    position: relative;
    right: 25px;
    font-size: 14px;
}
#friendUsernameForm > button > i, #friendIdForm > button > i{
    color: rgb(56, 56, 56);
}
#friendUsernameForm > button > i:hover, #friendIdForm > button > i:hover {
    color: rgb(55, 133, 223);
    cursor: pointer;
}
#loadingSpinnerFriend {
    animation: loadingSpinnerFriend .5s linear infinite forwards;
}
@keyframes loadingSpinnerFriend {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
#friendUsernameErr, #friendCodeErr {
    font-size: 12px;
    color: rgb(170, 29, 29);
    margin: 0px;
    margin-left: 10px;
}
.friendUserBoxRight {
    width: 60%;
}
.friendUserBoxLeft img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 35px;
    margin-left: 10px;
}
.deleteFriendBox {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.deleteFriendBox > li {
    margin-bottom: 8px;
}
.deleteFriendBox > li > button {
    border-radius: 6px;
    border: none;
    padding: 5px;
    cursor: pointer;

}
.buttonOn {
    animation: buttonOn .5s 1 forwards;
}
@keyframes buttonOn {
    0%{
        background-color: #EFEFEF;
        color: black;
    }
    100%{
        background-color: rgb(55, 133, 223);
        color: white;
    }
}
.buttonOff {
    animation: buttonOff .5s 1 forwards;
}
@keyframes buttonOff {
    0%{
        background-color: rgb(55, 133, 223);
        color: white;
    }
    100%{
        background-color: #EFEFEF;
        color: black;
    }
}