@media only screen and (max-width: 699px) {
    #desktopView {
        display: none;
    }
    #mobileView {
        display: block;
    }
    #homeMobileTitle {
        text-align: center;
        color: rgb(71, 71, 71);
        margin-bottom: 15px;
    }
    #mobileHomeAccount {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    #mobileHomeAccount > button, #mobileHomeAccount > a > button {
        border: none;
        outline: none;
        font-size: 18px;
        color: white;
        border-radius: 6px;
        padding: 5px 8px;
        background-color: rgb(99, 99, 99);
    }
    #mobileHomeAccount > button:active, #mobileHomeAccount > a > button:active {
        background-color: rgb(0, 55, 255);
    }
    #mobileCardBox > div {
        width: 80%;
        height: 400px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        border-radius: 8px;
        box-shadow: 6px 6px 5px #ccc;
        position: relative;
        right: 100vw;
    }
    #mobileCardBox > div > img, #mobileCardBox > div > p {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
    #mobileCardBox > div > img {
        z-index: 0;
    }
    #mobileCardBox > div > p {
        z-index: 1;
        position: relative;
        bottom: 404px;
        margin: 0px;
        color: white;
        background-color: rgba(68, 68, 68, 0.589);
        padding-top: 150px;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
        font-size: 22px;
    }
    #demoButton > i {
        color: white;
        width: 115px;
        animation: spinner 1.3s infinite forwards;
    }
    @keyframes spinner {
        0%{transform: rotate(0deg);}
        80% {transform: rotate(430deg);}
        100%{transform: rotate(360deg);}
    }
    .showCard {
        animation: showCard 1s 1 forwards;
    }
    @keyframes showCard {
        0%{right: 100vw;}
        100%{right: 0px;}
    }
}
@media only screen and (min-width: 700px) {
    #deskHomeHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15vh;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    #deskHomeHeader > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #homeTitle {
        margin: 0px;
        color: rgb(71, 71, 71);
    }
    #demoButton, #homeLoginButton, #homeSignupButton {
        padding: 5px 10px;
        background-color: rgb(179, 179, 179);
        border: none;
        border-radius: 5px;
        color: black;
        font-size: 17px;
        margin-left: 8px;
        cursor: pointer;
    }
    #demoButton:hover, #homeLoginButton:hover, #homeSignupButton:hover {
        color: white;
        background-color: rgb(99, 99, 99);
    }
    #demoButton > i {
        color: white;
        animation: spinner 1.3s infinite forwards;
    }
    @keyframes spinner {
        0%{transform: rotate(0deg);}
        80% {transform: rotate(430deg);}
        100%{transform: rotate(360deg);}
    }
    #desktopView {
        display: block;
        background-color: rgb(235, 235, 235);
    }
    #mobileView {
        display: none;
    }
    #deskCardBox {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 300px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #card1, #card2, #card3, #card4 {
        perspective: 1150px;
    }
    .homeCard {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .homeCard > img {
        height: 300px;
        width: 90%;
        border-radius: 8px;
        box-shadow: 8px 8px 5px #ccc;
    }
    .homeCard > p {
        width: 90%;
        height: 300px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 100px;
        position: relative;
        bottom: 303px;
        background-color: rgba(68, 68, 68, 0.589);
        color: white;
        border-radius: 8px;
    }
    #card1:hover #card1Inner {
        transform: rotateX(80deg);
        animation: cardDown .8s 1 forwards;
    }
    #card2:hover #card2Inner {
        transform: rotateX(80deg);
        animation: cardDown .8s 1 forwards;
    }
    #card3:hover #card3Inner {
        transform: rotateX(80deg);
        animation: cardDown .8s 1 forwards;
    }
    #card4:hover #card4Inner {
        transform: rotateX(80deg);
        animation: cardDown .8s 1 forwards;
    }
    .card1OnLoad #card1Inner {
        transform: rotateX(80deg);
        animation: cardDown .1s 1 forwards;
    }
    .card2OnLoad #card2Inner {
        transform: rotateX(80deg);
        animation: cardDown .1s 1 forwards;
    }
    .card3OnLoad #card3Inner {
        transform: rotateX(80deg);
        animation: cardDown .1s 1 forwards;
    }
    .card4OnLoad #card4Inner {
        transform: rotateX(80deg);
        animation: cardDown .1s 1 forwards;
    }
    @keyframes cardDown {
        0%{
            top: 0px;
            height: 300px;
        }
        100%{
            top: 140px;
            height: 250px;
        }
    }
    .cardLeave {
        transform: rotateX(0deg);
        animation: cardUp .8s 1 forwards;
    }
    @keyframes cardUp {
        0%{
            top: 140px;
            height: 250px;
        }
        100%{
            top: 0px;
            height: 300px;
        }
    }
    #deskHomeFooter {
        height: 368px;
        width: 100%;
        background-color: rgb(235, 235, 235);
        
    }
}
@media only screen and (min-width: 1200px) {
    #deskCardBox {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 450px;
    }
    #card1, #card2, #card3, #card4 {
        perspective: 1050px;
    }
    .homeCard {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .homeCard > img {
        height: 450px;
        width: 80%;
        border-radius: 8px;
        box-shadow: 8px 8px 5px #ccc;
    }
    .homeCard > p {
        width: 80%;
        height: 450px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 180px;
        position: relative;
        bottom: 453px;
        background-color: rgba(68, 68, 68, 0.589);
        color: white;
        border-radius: 8px;
        font-size: 22px;
    }
    @keyframes cardDown {
        0%{
            top: 0px;
            height: 450px;
        }
        100%{
            top: 220px;
            height: 450px;
        }
    }
    @keyframes cardUp {
        0%{
            top: 220px;
            height: 450px;
        }
        100%{
            top: 0px;
            height: 450px;
        }
    }
}