#messages {
    height: 100vw;
}
#listOfMessages {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
#listOfMessages > li {
    border-radius: 5px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    width: fit-content;
    max-width: 200px;
    margin-top: 10px;
}
.sent {
    clear:right;
    background-color: rgb(73, 152, 255);
    margin-left: auto;

}
.received {
    margin-right: auto;
    clear: left;
    background-color: rgb(204, 204, 204);
    margin-top: 10px;
}
#messageForm {
    position: absolute;
    z-index: 2;
    bottom:10px;
}