#messages{
    height:100vh;
    padding-top: 50px;
    padding-bottom: 20px;
}
#listOfMessages {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    width: 90%;
    height: 91%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}
#listOfMessages > li > img{
    width: 180px;
}
.sent, .received { 
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    width: fit-content;
    max-width: 200px;
    margin-top: 20px;
}
.sent {
    border-radius: 5px 5px 0px 5px;
    align-self: flex-end;
    background-color: rgb(73, 152, 255);
    margin-left: auto;
}
.received {
    border-radius: 5px 5px 5px 0px;
    align-self: flex-start;
    clear: left;
    background-color: rgb(204, 204, 204);
}
.sentTs, .receivedTs{
    color: rgb(133, 133, 133);
    font-size: 12px;
    margin-left: 2px;
}
.sentTs {
    align-self: flex-end;
    margin-right: 2px;
}
.receivedTs {
    align-self: flex-start;
    margin-left: 2px;
}
#messageForm {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    bottom:10px;
    width: 100%;
    margin-left: 15px;
}
#pictureMessageForm {
    margin-right: 30px;
}
#textFormText {
    min-width: 200px;
}
#testImage {
    display: none;
}
#pictureMessageInput > input {
    height: 20px;
    width: 60px;
    position: relative;
    bottom: 18px;
    right:8px;
    z-index: 5;
    opacity: 0;
}
#pictureMessageInput {
    z-index: 4;
    width: 60px;
    height: 21px;

}