.navBox {
    position: fixed;
    top: 0px;
    width: 100%;
}
.navList {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    z-index: 5;
    margin: 0px;
    background-color: grey;
}
.welcomeText {
    text-transform: capitalize;
}
#navFriendPicName {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navFriendProfilePic {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 10px;
}