#navBox {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: rgb(216, 216, 216);
}
#spacerNav {
    width: 38px;
}
.fadeOutNav {
    animation: fadeOutNav .5s .2s 1 forwards;
}
@keyframes fadeOutNav {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.fadeInNav {
    animation: fadeInNav .7s 1 forwards;
}
@keyframes fadeInNav {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.navList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-left: 20px;
    z-index: 5;
    margin: 0px;
    width: 50vw;
    height: 100vh;
    background-color: rgb(95, 95, 95);
    color: white;
    border-radius: 0px 8px 8px 0px;
}
#navTeratext > a, .navList > li > a{
    text-decoration: none;
    color: white;
}
#navTeratext > a:hover, .navList > li > a:hover, .navList > button:hover {
    color: rgb(0, 2, 110);
    cursor: pointer;
}
.navList > button, .navList > p, .navList > li {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}
.navList > button {
    background-color: rgb(95, 95, 95);
    border: none;
    color: white;
    font-size: 16px;
    padding: 0px;
}
.welcomeText {
    text-transform: capitalize;
}
.friendNavText {
    margin: 0px;
    text-transform: capitalize;
}
#navFriendPicName {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#navFriendProfilePic {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 10px;
}
#navButtonAndHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#navTeratext {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}
#hamburgerButtonOnMenu {
    font-size: 20px;
    margin-right: 10px;
    background-color: rgb(95, 95, 95);
    border:none;
    cursor: pointer;
}
#hamburgerButtonOnMenu:hover {
    color: rgb(168, 0, 0)
}
#hamburgerButton {
    margin: 10px;
    font-size: 19px;
    background-color: rgb(216, 216, 216);
    border:none;
    cursor: pointer;
}
#hamburgerMenu { 
    position: absolute;
    right: 100vw;
    top: 0px;
    z-index: 10;
}
.hamburgerAnimateIn {
    position: absolute;
    right: 100vw;
    animation-name: hamburgerSlideIn;
    animation-duration: 70s;
}
@keyframes hamburgerSlideIn {
    0% {right: 60vw;}
    1% {right: 100vw;}
    100% {right: 100vw;}
}
.hamburgerAnimateOut {
    position: absolute;
    right: 60vw;
    animation: hamburgerSlide .7s 1 forwards;
}
@keyframes hamburgerSlide {
    0% {right: 100vw;}
    100% {right: 60vw;}
}
@media only screen and (min-width: 600px) { 
    .navList {
        width: 25vw;
        font-size: 22px;
    }
    #navTeratext {
        font-size: 24px;
        margin-left: 0px;
    }
    .navList > button, .navList > p, .navList > li {
        margin-left: 0px;
    }
    .navList > button {
        font-size: 21px;
    }
    #hamburgerButtonOnMenu {
        font-size: 22px;
        margin-right: 15px;
    }
    #hamburgerButton {
        font-size: 22px;
    }
    @keyframes hamburgerSlideIn {
        0% {right: 75vw;}
        1% {right: 100vw;}
        100% {right: 100vw;}
    }
    .hamburgerAnimateOut {
        right: 80vw;
    }
    @keyframes hamburgerSlide {
        0% {right: 100vw;}
        100% {right: 75vw;}
    }
}
@media only screen and (min-width: 1000px) { 
    .navList {
        width: 15vw;
    }
    @keyframes hamburgerSlideIn {
        0% {right: 85vw;}
        1% {right: 100vw;}
        100% {right: 100vw;}
    }
    .hamburgerAnimateOut {
        right: 85vw;
    }
    @keyframes hamburgerSlide {
        0% {right: 100vw;}
        100% {right: 85vw;}
    }
}