.navBox {
    position: fixed;
    top: 0px;
    width: 100%;
}
.navList {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    z-index: 5;
    margin: 0px;
    background-color: grey;
}
.welcomeText {
    text-transform: capitalize;
}