#userSpaceTop {
    height: 60px;
}
.contactMessageLink {
    text-decoration: none;
}
.contactUserBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: rgb(214, 214, 214);
    border-radius: 18px;
    padding-left: 15px;
    padding-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.contactUserBoxLeft img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 30px;
}
.contactUserBoxRight {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.contactMessagePreview {
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 20px;
}
.contactMessagePreview li {
    padding-right: 10px;
}
.contactMessageText {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contactMessageTime {
    width: 80px;
}
.contactMessageName {
    text-transform: capitalize;
    margin-top: 18px;
    margin-bottom: 12px;
    font-size: 17px;
}
.contactMessageName, .contactMessageText, .contactMessageTime {
    color: black;
    text-decoration: none;
}
#userAddFriendHereBox { 
    margin-top: 20px;
    text-align: center;
}
#userAddFriendHere {
    text-decoration: none;
    color:black;
    cursor: pointer;
}
#userAddFriendHere:hover {
    color: rgb(0, 3, 165);
}
.enter {
    animation: enter .35s 1 forwards;
}
@keyframes enter {
    0%{background-color: rgb(214, 214, 214);}
    100%{background-color: rgb(189, 189, 189);}
}
.leave {
    animation: leave .35s forwards;
}
@keyframes leave {
    0%{background-color: rgb(189, 189, 189);}
    100%{background-color: rgb(214, 214, 214);}
}